# /home/ec2-user/raisetech-live8-sample-app/config/puma.rb

# Pumaのソケットファイルの場所
bind "unix:///var/www/raisetech-live8-sample-app/puma.sock"

# PumaのPIDファイルの場所
pidfile 'tmp/pids/puma.pid'

# Pumaのステートファイルの場所
state_path 'tmp/pids/puma.state'

# Pumaのログファイルの場所
stdout_redirect 'log/puma.stdout.log', 'log/puma.stderr.log', true

# スレッドの設定
threads 1, 6

# ワーカーの設定
workers 2

# アプリケーションの事前ロード
preload_app!

# Pumaのワーキングディレクトリ
directory '/home/ec2-user/raisetech-live8-sample-app'
