[default]
host_key_checking = False
gather_facts = smart
remote_user = ec2-user
private_key_file = ~/.ssh/RaiseTech.pem

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null