environment: production
daemonize: true
pidfile: tmp/pids/puma.pid
state_path: tmp/pids/puma.state
stdout_redirect: log/puma.stdout.log, log/puma.stderr.log, true
bind:
  - "unix:///home/ec2-user/raisetech-live8-sample-app/tmp/sockets/puma.sock"
workers: 2
threads:
  min: 1
  max: 6
preload_app: true
